.signup-form{
  width: 500px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: all 1s ease;
}

.none{
  opacity: 0;
}

.form-input{
  border: 2px solid #656565;
  border-radius: 3px;
  padding: 5px 20px;
  margin: 5px 0;
}

.form-button{
  border: none;
  background-color: dodgerblue;
  color: #ffffff;
  padding: 5px 0;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
}
